@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

.titulo {
	color: hsla(360, 100%, 100%, 1);
	font-family: 'Poppins', sans-serif;
}
.texto {
	color: hsla(360, 100%, 100%, 1);
	font-family: 'Poppins', sans-serif;
	
}
.boton {
    background-color: hsla(360, 100%, 100%, 1);
    border-radius: 19px;
    padding: 1em;
    color: gray;
    font-family: 'Poppins', sans-serif;
}

a {
	background-color: #f9f9f9;
}

/*estilos escrotorio*/
@media only screen
and (min-width: 376px) {

	.grid-container {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr;
	  grid-template-areas: "areaUno AreaDos";
	}

	.areaUno { 
		grid-area: areaUno; 
		height: 100vh;
	}

	.AreaDos { 
		grid-area: AreaDos;
		height: 100vh; 
	}

	body {
		background-color:hsl(257, 40%, 49%);
		background-image: url(../images/bg-desktop.svg);
	}
	.logo {
		display: block;
		margin: 3em 2em 3em 1em;
	}
	.imagen {
		margin-left: 2em;
	}
	.titulo {
		float: right;
    	margin: 4em 1em 2em;
    	text-align: left;
    	font-size: 3em;
	}
	.texto {
    	font-size: 2em;
    	text-align: left !important;

	}
		.mibtn {
		margin-left: auto;
		margin-right: auto;
		text-align: left !important;
	}
		.redes {	
		margin: 2em 2em 2em 2em !important;
		text-align: right !important;
	}

}

@media only screen
and (max-width : 375px) {
/* Styles */

	.grid-container {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 1fr;
	  grid-template-areas: "areaUno" "areaDos";
	}

	.areaUno { grid-area: areaUno; }

	.areaDos { grid-area: areaDos; }

	body {	
		
		background-image: linear-gradient( hsla(257, 93%, 47%, .8), hsl(257, 93%, 47%)), 
		               url(../images/bg-mobile.svg);
	}
	.logo {
		width: 7em;
    	margin: 2em 1em;
	}
	.imagen {
		width: 20em;
    	text-align: center;
    	margin: .5em 1em;
	}
	.titulo {
		font-weight: 700;
    	text-align: center;
    	font-size: 1.5em;
    	margin-left: 1em;
    	margin-right: 1em;
}
	}
	.texto {		
    	margin-left: 1em;
    	margin-right: 1em;
    	font-weight: 400;
    	text-align: center;
	}
	.mibtn {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.boton {

		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		height: 3.3em;
		width: 16em;
		font-weight: 400;	

	}
	.redes {	
		margin: 2em auto 2em auto;
		text-align: center;
	}
	.sociales {
	    margin-left: 1em;
	    border-radius: 29px;
	    border: 1px solid #f2edf3f7;
	    padding: 1em;
	}
	.attribution{
		text-align: center;
	}	

}
